<ion-view view-title="Notes">
    <ion-nav-buttons side="right">
        <button class="button button-clear button-energized ion-plus"> <strong>Note</strong></button>
    </ion-nav-buttons>
    <ion-content class="bg-color" padding="15">
        <h3 class="bg-color">Notes</h3>
        <div class="list card bg-color">
            <a href="#" class="item item-icon-left bg-color">
                <i class="icon ion-document"></i>
                <div class="row">
                    <strong>Note title</strong>
                </div>  
                <div class="row">
                    Note Content
                </div>
            </a>
        </div>
    </ion-content>
</ion-view>