<ion-view view-title="Passwords">
        <ion-content class="bg-color" padding="15">
    
            <h3 class="bg-color">Passwords</h3>
            <div class="list card bg-color">
                <a href="#" class="item item-icon-left bg-color bdr-t-none">
                        <i class="icon ion-locked"></i>
                        <div class="row">
                            <strong>Third</strong>
                        </div>
                    </a>
                <a href="#" class="item item-icon-left bg-color ">
                            <i class="icon ion-wifi"></i>
                            <div class="row">
                                <strong>Third</strong>
                            </div>  
                            <div class="row">
                                Item
                            </div>
                    </a>
            </div>
        </ion-content>
    </ion-view>