.popover {
    height: auto !important;
}
.popover ion-header-bar {
    position: relative;
}
.popover ion-content {
    top: 0;
    position: relative;
}
.popover-inner-content {
    width: 100%;
    padding: 5px 20px;
  }
.bg-color {
    background-color:#222222;
    color: white;
}
.t-color {
    color: azure;
}
.bdr-none {
    border: none;
}
.bdr-color {
    border-color: #222222;
}
.bdr-t-none {
    border-top: none
}
.bdr-b-none {
    border-bottom: none
}
.bdr-l-none {
    border-left: none
}
.bdr-r-none {
    border-right: none
}
.align-txt-r {
    text-align: right
}
.align-txt-c {
    text-align: center
}
